/*css externo - para que funcione é necessário fazer o link no HMTL*/

h1{
    background-color: rgba(0, 0, 155, 0.3);
    padding: 5px;
    font-family: cursive;
    text-align: center;
}
p, li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Comportamento de link a ser clicado */
a{
    background-color: #0b2555;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    border: solid crimson 2px;
    margin: 30px; 
}
a:link{
    color: #6cff00;
}
a:visited{
    color: #000;
    background-color: yellow;
}
/* Comportamento de passar sobre */
a:hover{
    background-color: chartreuse;
    color: blue;
}
/* comportamento de link quando está ativo */
a:active{
    background-color: #fc0e0e;
    color: blue;
}

button:link{
    color: #6cff00;
}
button:visited{
    color: #000;
    background-color: yellow;
}
/* Comportamento de passar sobre */
button:hover{
    background-color: chartreuse;
    color: blue;
}
/* comportamento de link quando está ativo */
button:active{
    background-color: #fc0e0e;
    color: blue;
}
/* trabalhando com Pseudo-Elemento */
p::first-line{
    color: red;
    font-variant: small-caps;  
}
p::first-letter{
    color: blue;
    font-size: xx-large;
}
h3::before{
    content: url(/img/chapeleiro_mini.jpg);
}
h3::after{
    content: url(/img/beetlejuice_mini.jpg);
}
/* este pseudo-elemento é específico para a lista, pois modifica os "buletes ou marcadores" da lista */
::marker{
    color: greenyellow;
}
/*Este:pseudo elemento modifica o que o usuario esta selecionando*/
::selection{
    color: red;
    background-color: cornsilk;
}



